body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-image:url('../images/mountain.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.text {
    position: absolute;
    width: 30%;
    top: 45%;
    font-family: Palatino, serif;
    color: darkblue;
}

.text-title {
    font-size: 60px;
}

header div div h1 { /*czy to jest ok sposób, żeby nadać im włąściwy odstęp? jak próbowałam jakoś klasą to ustawić to mi nie wychodziło*/
    margin-bottom: 15px;
}

header div div p {
    margin-top: 15px;
}

.text-subtitle {
    font-size: 20px;
}

.mobile {
    background-image:url('../images/samsung.png');
    background-size: cover;
    width: 40%;
    height: 90%;
    position: absolute;
    top: 42%;
    right: 5%;   /*czy jest możliwość ustawienia tego przy prawym boku "conteinera", tak żeby mieć pewność, że nie wychodzi poza container*/

}

.section {
    margin-top: 100px;
}

.section-title {
    font-size: 35px;
}

.table {
    font-size: 16px;
}

.table-td {
    width: 5%;
}

.first-line {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.left {
    position: relative;
    float: left;
    width: 47%;
    text-align: justify;
}

.right {
    position: relative;
    float: right;
    width: 47%;
    bottom: -15vh; /*cy jest jakiś lepszy sposób na wyrównanie tekstu do dołu?*/
    text-align: justify;
}

.middle {
    clear: both;
}

.item-background {
    position: relative;
    display: inline-block;
    height: 200px;
}

.item-width-standard {
    width: 33%;
}

.item-width-maximum {
    width: 66%;
}

.item-pink {
    background-color: hotpink;
}

.item-purple {
    background-color: blueviolet;
}

.item-first-image {
    background-image: url('../images/zachod.jpg');
    background-size: 390px 200px;
}

.item-second-image {
    background-image: url('../images/slonce.jpg');
    background-size: 780px 200px;
}

.item-green {
    background-color: lightgreen;
}

.item-vertical-align {
    position: relative;
  
    background-color: transparent;
    width: 100%;
    vertical-align: middle;
}

.footer {
    margin-top:300px;
}






