body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-image:url('../images/mountain.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.container {
    position: relative;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

.text {
    position: absolute; /* TODO absolute tylko tam gdzie rodzic ma position: relative */
    width: 30%;
    top: 45%;
    font-family: Palatino, serif;
    color: darkblue;
}

.text-title {
    font-size: 60px;
}

/* TODO poniżej zly selektor, dodać klasę do h1 i wtedy stylować, margin-bottom jest jeśli chcemy w pionie odsunać elementy */
header div div h1 { /*czy to jest ok sposób, żeby nadać im włąściwy odstęp? jak próbowałam jakoś klasą to ustawić to mi nie wychodziło*/
    margin-bottom: 15px;
}

/* TODO dodać klasę do "p" i usunać header div div */
header div div p {
    margin-top: 15px;
}

.text-subtitle {
    font-size: 20px;
}

.mobile {
    background-image:url('../images/samsung.png');
    background-size: cover;
    width: 40%;
    height: 90%;
    position: absolute;
    top: 42%;
    right: 5%;   /*czy jest możliwość ustawienia tego przy prawym boku "conteinera", tak żeby mieć pewność, że nie wychodzi poza container*/

}

.section {
    margin-top: 100px;
}

.section-title {
    font-size: 35px;
}



.first-line {
    /* TODO margin top i bottom jak są takie same to możemy skrócić do: margin: 20px 0; */
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.second-line {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    padding-left: 30px;
}


/* TODO left i right wygladają tak samo, nie trzeba ich rozdziela na float left i right - do omówienia ze mną*/
.left {
    position: relative;
    float: left;
    width: 47%;
    text-align: justify;
}

.right {
    position: relative;
    float: left;
    width: 47%;
    bottom: -15vh; /*cy jest jakiś lepszy sposób na wyrównanie tekstu do dołu?*/ /* TODO nie używamy vh, tylko jak tło głównego slidera*/
    text-align: justify;
}

/* TODO w takich przypadkach tworzy się klasę .clearfix, która ma clear:both, używamy takiego diva do czyśzczenia floatów */
.middle {
    clear: both;
}

.item-background {
    position: relative;
    display: inline-block;
    height: 200px;
}

.item-width-minimum {
    width: 25%;
}

/* TODO klasy poniżej nie sumują się do 100% */
.item-width-standard {
    width: 33.333333333333%;
}

.item-width-maximum {
    width: 66.666666666666%;
}

.item-pink {
    background-color: hotpink;
}

.item-purple {
    background-color: blueviolet;
}

.item-first-image {
    background-image: url('../images/zachod.jpg');
    background-size: 390px 200px;
}

.item-second-image {
    background-image: url('../images/slonce.jpg');
    background-size: 780px 200px;
}

.item-green {
    background-color: lightgreen;
}

.item-vertical-align {
    position: absolute;
    background-color: transparent;
    color: white;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
}

.item-properties {
    padding-left: 20px;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.section-title2 {
    margin-top: 75px;
    font-size: 35px;
}

.item-properties2 {
    color: black;
}
.footer {
    margin-top:300px;
}






