body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-image:url('../images/tlo.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.list-inline {
    float: right;
    list-style: none;
}

.list-inline li {
    display: inline;
    padding: 10px 20px;
}

.list-inline li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
}

.list-inline li a:hover {
    border-bottom: 2px solid #fff;
}

.jumbotron {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

.jumbotron-title {
    font-size: 60px;
    text-transform: uppercase; /*drukowane*/
   color: #fff;
    text-align: center;
}

.jumbotron-subtitle {
    color: #fff;
    font-size: 32px;
}

.jumbotron-btn {
    font-size: 32px;
}