body {
    background-color: grey;
}
* { outline: 1px solid red;
}
#navbar {
    position: fixed;
    top: 30px;
    margin-left: 220px;
}
li {
    display: inline;
    font-family: Arial Black, Gadget, sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px 20px 10px 20px;

}
a:link {
    color:white;
    text-decoration: none;
}
a:visited {
    color:white;
    text-decoration: underline;
}
a:hover {
    color: deepskyblue;
    text-decoration: underline;
}
a:active {
    color:deepskyblue;
    text-decoration: underline;
}
h1 {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    color: white;
}
h3 {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    color: white;
}
#footer {
    background-color: deepskyblue;
    height: 50px;
    width: 200px;
    border-radius: 30px;

}
p {
    position: relative;
    text-align: center;
    padding:15px;
    font-family: Arial Black, Gadget, sans-serif;
    color: white;
}